<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Kulibin Test Suite">
    <test name="Test1">
        <classes>
            <class name="Task1"></class>
        </classes>
    </test>
    <test name="Test2">
        <classes>
            <class name="Task2"></class>
        </classes>
    </test>
    <test name="Test3">
        <classes>
            <class name="Task3"></class>
        </classes>
    </test>
    <test name="Test4">
        <classes>
            <class name="Task4"></class>
        </classes>
    </test>

</suite>